body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
    
}
.welcome-area {
    display: flex;
    margin-top: 30px;
}
.half-width{
    width: 50%;
    margin-left: 5%;
}
.half-width img {
    width: 80%;
}
.half-width h1{
    font-size: 50px;
    
}
.orange-color{
    color: orange;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(#F88366, rgb(255, 136, 0));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.dream-area{
    display: flex;
    margin-top: 85px;
}
.experiences{
    display: flex;
    
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;
    margin-top: 100px;
}
.experience-item{
    width: 40%;
    padding: 10px 20px;
    box-shadow: 10px 10px 25px gray;
    margin: 5%;
}
.exp-title{
    font-size: 35px;
}
#exp-item-left{
    border-left: 7px solid;
    border-image: linear-gradient(#ff5511, #9b5402);
    border-image-slice: 1;
}
#exp-item-right{
    border-left: 7px solid;
    border-image: linear-gradient(#1121ff, #09cec4);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}